[MASTER]
disable=
    # missing-module-docstring
    C0114,
    # missing-class-docstring
    C0115,
    # missing-function-docstring
    C0116,
    # too-few-public-methods
    R0903,
    # broad-except
    W0703,
    # no-self-use
    R0201,
    # import-error
    E0401,
    # no-member
    E1101,
    # duplicate-code
    R0801

[FORMAT]

max-line-length=120
